/* .nav_logo {
  padding: 30px !important;
  margin-left: 10px !important;
}

.navrighttax {
  font-weight: 540 !important;
  padding: 18px !important;
  color: black !important;
  font-size: 16px !important;
}

.navrighttax:hover {
  color: #007aff !important;
}

.navlefttax {
  font-size: 16px !important;
  color: gray;
  padding: 7px;
  margin: 5px;
}

.navlefttax p {
  padding: 8px;
  margin-top: 5px;
  margin-right: 5px;
}

.navlefttax p:hover {
  color: black;
}

.nav_button {
  background-color: #007aff;
  height: 50px;
  color: white;
  width: 170px;
  border-radius: 25px;
  border: none;
  margin-right: 30px !important;
  margin-top: 12px;
  padding: 10px !important;
}

.nav_button:hover {
  background-color: #0058b5;
} */